<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro - Página 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-register2">
  <div class="register-container">
    
    <form [formGroup]="registerForm" (ngSubmit)="completeRegistration()">
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-datetime 
          displayFormat="DD/MM/YYYY" 
          formControlName="birthdate" 
          presentation="date"
        ></ion-datetime>
      </ion-item>

      <!-- Número de Teléfono -->
      <ion-item>
        <ion-label position="floating">Número de Teléfono</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>

      <!-- Instituto (Acordeón) -->
      <ion-item>
        <ion-label position="floating">Instituto</ion-label>
        <ion-select formControlName="institute">
          <ion-select-option *ngFor="let institute of institutes" [value]="institute">
            {{ institute }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Programa de Estudio (Acordeón) -->
      <ion-item>
        <ion-label position="floating">Programa de Estudio</ion-label>
        <ion-select formControlName="studyProgram">
          <ion-select-option *ngFor="let program of studyPrograms" [value]="program">
            {{ program }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Información Adicional -->
      <ion-item>
        <ion-label position="floating">Información Adicional</ion-label>
        <ion-input formControlName="additionalInfo" type="text"></ion-input>
      </ion-item>

      <!-- Botón para completar el registro -->
      <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Finalizar Registro</ion-button>
    </form>
  </div>
</ion-content>

